<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-sm-12 col-xs-12 col-md-4 col-xl-4 bd-sidebar">
      <div class="d-flex align-items-center">
        <a class="btn btn-danger btn-md btn-block special" routerLink="/crear/new">Nuevo lugar/evento</a>
      </div>
      <nav class="pre-scrollable">
        <div class="bd-toc-item margin-t" [@contenedorAnimable]="state">
          <h3>Destacados
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </h3>
          <div class="list-group">
            <ng-container *ngFor="let lugar of lugares">
              <div class="list-group-item" *ngIf="lugar.plan == 'pagado'">
                <p><a routerLink="/crear/{{lugar.id}}">{{lugar.nombre}}</a></p>
                <p [innerHtml]="lugar.descripcion | linkifystr"></p>
              </div>
            </ng-container>
          </div>
        </div>
        <h3 class="margin-t">Lugares Cercanos
          <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </h3>
        <ul class="list-group xs-12 sm-12 md-12">
          <ng-container *ngFor="let lugar of lugares">
            <li class="list-group-item">
              <a routerLink="/crear/{{lugar.id}}">
                <p>{{lugar.nombre}}
                  <span *ngIf="lugar.plan == 'pagado'">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </span>
                  <span class="badge badge-light float-right">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                </p>
              </a>
              <small class="form-text text-muted">Creado: {{lugar.id | date}}</small>
              <p [innerHtml]="lugar.descripcion | linkifystr"></p>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>

    <div class="col-12 col-sm-12 col-xs-12 col-md-8 col-xl-8 bd-content">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="3">
        <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
